@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-bg {
  background-color: #1c1c1c;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-item {
  background-color: #efebea;
}
